/*import custom font*/
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

/*standaard body stijling*/
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'cousine', Arial, Helvetica, sans-serif;
color: #ffffff;
box-sizing: border-box;
scroll-behavior: smooth;
}

body{
     /*Circle hoogte*/
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    /*Achtergrond kleur en padding*/
    padding: 20px;
}
#logo{
  line-height: 30px;
  margin-left: 5px;
  width: 50px;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #275ef5;
}
#logo:hover{
  color: #df4102;
}
#logo-s{
  color: #ffffff;
}
#logo:hover #logo-s{
  color: #ca1010;
}
.buttons{
  margin-left: 30%;
  margin-top: -40px;
  font-size: 1rem;
}
a:link {
  color: #ffffff;
}

/* visited link */
a:visited {
  color: #df4102;
}

/* mouse over link */
a:hover {
  color: #00d9ff;
}

/* selected link */
a:active {
  color: #be0000;
}

/*starship animation*/
#shuttleBack{
  position: absolute;
  margin-top: 10px;
  height: 20%;
  left: 20px;
  animation: 1000ms Bounce infinite alternate ease-in-out;
}

@keyframes Bounce{
  0%{
    top: 90px;
  }
  100%{
    top: 75px;
  }
}
#shuttleLiftOff{
  position: absolute;
  top: 100px;
  margin-left: 20px;
  margin-top: 80%;
  left: 10px;
  float: left;
  height: 10rem;
  animation: 1000ms Bounce infinite alternate ease-in-out;
}
@keyframes liftOff{
  0%{
    top: 5rem;
    transform: rotate(-10deg);
  }
  25%{
    top: 30px;
    transform: rotate(-5deg);
  }
  50%{
    top: 40px;
    transform: rotate(5deg);
  }
  75%{
    top: 15px;
    height: 40%;
  }
  100%{
    top: 30px;
    transform: rotate(75deg);
}
}
h1{
  letter-spacing: 0.2em
}
#India, #London, #NewYork, #Sydney, #Warsaw, #Shanghai{
  background-image: ;
  text-align: center;
  margin-top: 20px;
}
#indiaTime, #londonTime, #newyorkTime, #sydneyTime, #warsawTime, #shanghaiTime{
  font-size: 20px;
  }

  #message{
    text-align: center;
    margin-top: 15rem;
    font-size: 40px;
  }
h2.latenight {
  color: purple;
  background: none;
}

h2.night {
  color: rgb(255, 255, 255);
  background: #000;
}

h2.evening {
  color: hotpink;
  background: none;
}

h2.afternoon {
  color: red;
  background: none;
}

h2.noon {
  color: cyan;
  background: none;
}

h2.morning {
  color: cornflowerblue;
  background: none;
}

  /*--------------------------footer------------------------*/
  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f52727;
   opacity: 80%;
   color: white;
   text-align: center;
}


/*---------------------------mediaquery----------------------------------*/
@media only screen and (min-width: 520px) {
  #logo{
    line-height: 60px;
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #275ef5;
  }
  
  /*starfield animation*/
#shuttleBack{
  position: absolute;
  margin-top: 100px;
  height: 30%;
  left: 20px;
  animation: 1000ms Bounce infinite alternate ease-in-out;
}
#buttons{
  margin-top: -20px;
}

@keyframes Bounce{
  0%{
    top: 90px;
  }
  100%{
    top: 75px;
  }
}
#shuttleLiftOff{
  position: absolute;
  margin-top: 25rem;
  margin-right: 100px;
  right: 20px;
  float: right;
  height: 20%;
  animation: 10000ms liftOff infinite alternate ease-out;
}
@keyframes liftOff{
  0%{
    top: 90px;
    transform: rotate(-75deg);
  }
  25%{
    top: 60px;
    transform: rotate(-5deg);
  }
  50%{
    top: 40px;
    transform: rotate(10deg);
  }
  75%{
    top: 15px;
    height: 40%;
  }
  100%{
    top: 5px;
    transform: rotate(75deg);
}
}


@media only screen and (min-width: 700px) {
  #logo{
    line-height: 60px;

  }
  .buttons{
    margin-top: -45px;
  }


@media only screen and (min-width: 800px) {
  #logo{
    line-height: 60px;
    margin-left: -5px;
    width: 50%;
  }