/*import custom font*/
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

/*standaard body stijling*/
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'cousine', Arial, Helvetica, sans-serif;
color: #ffffff;
box-sizing: border-box;
scroll-behavior: smooth;
}

body{
     /*Circle hoogte*/
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    /*Achtergrond kleur en padding*/
    padding: 20px;
    background: -webkit-linear-gradient(right, #14005c, #00011b);
}

.buttons a {
  font-size: 16px;
  line-height: 25px;
}
.buttons a:hover {
  cursor:pointer; 
  font-size: 16px;
}
h1{
  letter-spacing: 0.2em
}
#India, #London, #NewYork, #Sydney, #Warsaw, #Shanghai{
  background-image: ;
  text-align: center;
  margin-top: 20px;
}
#indiaTime, #londonTime, #newyorkTime, #sydneyTime, #warsawTime, #shanghaiTime{
  font-size: 20px;
  }

  





  
  /*--------------------------footer------------------------*/
  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f52727;
   opacity: 80%;
   color: white;
   text-align: center;
}
 

/*---------------------------mediaquery----------------------------------*/
@media only screen and (min-width: 520px) {
  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item2{
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .item3{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item3{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item4{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .item5{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item6{
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

    
@media only screen and (min-width: 700px) {   
  .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .item2{
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .item3{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .item3{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .item4{
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .item5{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .item6{
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
}
@media only screen and (min-width: 800px) {
  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item2{
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .item3{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item3{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item4{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .item5{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item6{
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
}
@media only screen and (min-width: 1000px) {
  
}
@media only screen and (min-width: 1400px) {
  .item1 { grid-area: 1 / 3 / 2 / 4; }
  .item2 { grid-area: 2 / 3 / 3 / 4; }
  .item3 { grid-area: 1 / 1 / 2 / 2; }
  .item4 { grid-area: 1 / 2 / 2 / 3; }
  .item5 { grid-area: 2 / 1 / 3 / 2; }
  .item6 { grid-area: 2 / 2 / 3 / 3; }
}